body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    background-color: #f0f0f0;
}

#gameCanvas {
    background-color: #000;
    display: block; /* Removes extra space around the canvas */
    position: absolute;
    top: 0;
    left: 0;
}

